body {
   /* background-image: url(../image/background.jpg);*/
    background-size: cover;  
}

.ui.menu { 
    background: transparent; 
}

.ui.three.cards {
    margin-left: -1em;
    margin-right: -1em;
    margin: 1%;
}

.ui.comments .reply.form textarea {
    height: 10em;
    background: whitesmoke;
}

.ui.comments {
    margin: 5.5em 0;
    margin-left: 27%;
}